<div class="container">
  <a class="link" routerLinkActive="active-link" routerLink="/users">Users</a>
  <a class="link" routerLinkActive="active-link" routerLink="/posts">Posts</a>
  <a class="link" routerLinkActive="active-link" routerLink="/comments">Comments</a>
  <a class="link" routerLinkActive="active-link" routerLink="/todos">Todos</a>
  <a class="link" routerLinkActive="active-link" routerLink="/albums">Albums</a>
  <a class="link" routerLinkActive="active-link" routerLink="/photos">Photo</a>
</div>
